/* General */
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF7BC;
  color: #333;
}

/* Header */
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E64921;
  padding: 1rem;
  color: #fff;
}

.cabecera__logo {
  max-width: 100px;
}

.navegacion__lista {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navegacion__elemento a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Presentación */
.presentacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #FFF7BC;
}

.presentacion__foto {
  border-radius: 50%;
  width: 300px;
  margin-right: 1rem;
}

/* Sección 'Sobre mí' */
#sobre-mi {
  padding: 2rem;
  text-align: center;
}

/* Ajustar el tamaño de las imágenes en 'Sobre mí' */
.redes__img img {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: auto; /* Mantiene las proporciones de las imágenes */
}

/* Eliminar las viñetas de la lista */
.redes {
  list-style: none; /* Quita las viñetas */
  padding: 0; /* Elimina el padding interno de la lista */
}

/* Estilo adicional para centrar y espaciar los íconos */
.redes__img {
  display: inline-block;
  margin: 0 15px; /* Espaciado entre los íconos */
}

/* Skills */
.habilidades__lista {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  list-style: none
}

.habilidades__elemento {
  text-align: center;
}

.habilidades__icono {
  width: 50px;
  height: auto;
  color: #1f348f; /* Cambia este valor al color que desees */
  }

/* Hobbies, formación, proyectos */
#hobbies, #formacion, #proyectos {
  padding: 2rem;
  text-align: center;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.dark-mode {
  background-color: #333;
  color: #e049a6;
}

.dark-mode .cabecera {
  background-color: #111;
}

.dark-mode a {
  color: #E64921;
}

.dark-mode .presentacion {
  background-color: #333; /* Actualiza el color de fondo de la sección presentacion */
}


/* Responsivo */
@media (max-width: 768px) {
  .cabecera {
      flex-direction: column;
  }

  .navegacion__lista {
      flex-direction: column;
  }

  .habilidades__lista {
      flex-direction: column;
  }
}
